/* CSS to apply formatting to web for cities challenge*/ 

body {
    background: whitesmoke;
    font-family: sans-serif;
    font-size: 1.2;
    
}
.navbar-light {
    color: white;
  }

.navbar-brand {
    color: white;
  }
  

#img_small {
    height:120px;
}
#heading2 {
    
    padding-left: 10px;
}
#img_large {
    height:400px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: darkslategray;
    background: white;
}

#comparison_img {
    height:300px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: darkslategray;
    background: white;
}

#box_left {
    height: 800px;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 40px;
    color: darkslategray;
    background: white;
}
#box_right {
    height: 400px;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 40px;
    color: darkslategray;
    background: white;
}

#data_table_display{
    width:100%;
    /* width:600px; --> */
    height:800px;

}

